/* Reseteo del documento */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

/*=============================================================*/

body {
    /* height: 1vh; */
    background-color: #a9aaac;
    color: #fff;
}

/*=============================================================*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: left; */
    background-color: #24252a;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
}

/*=============================================================*/
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 200px;
}

/*=============================================================*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container .logo h2{
    padding-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------------------*/

.Men_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*------------------------------------------------------------*/

li {
    display: flex;
    justify-content:center;

    /* list-style: none; */
    cursor: pointer;
    padding: 21px;
    transition: all .3s ease 0s;
}

li:hover {
    background-color: #008849;
}

li a {
    color: #fff;
}

.naranja{
   color: rgb(255, 102, 0);
}

/*------------------------------------------------------------*/

/* .Men_nav_li {
    color: black;
    font-size: 16px;
    font-style: normal;
} */

/*=============================================================*/
/* main */

.top {
    padding-top: 85px;
    width: 100%;
}

/*------------------------------------------------------------*/
.part_01 {
    width: 100%;
    height: 20vw;
    background-image: url(../img/Robots_2.jpg);
    background-size: cover;
}

/*------------------------------------------------------------*/
.part_02 {
    margin-top: 40px;
    /* height: 20vw; */
    padding-left: 20%;
    padding-right: 20%;
    /* border: black solid 1px;  */
}

.part_02 .info {
    /* border: black solid 1px; */
    /* height: 22vw; */
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px 10px #fff;

}

.part_02 .info h1 {
    padding-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: black;
}

.part_02 .info p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: black;
    margin: 2vw;
    padding: 1vw;
}

.fondo {
    padding: 1px;
}

/*------------------------------------------------------------*/
.part_03 {
    margin-top: 40px;
}

.part_03 h1 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24252a;
    color: white;
    border: grey double;

}

.part_03 .videos {
    margin-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* padding-inline-start: 1vw; */
    align-items: center;
    flex-wrap: wrap;
    /* padding: 50px; */
}
.part_03 .videos video {
    width: 580px;
}

/*=============================================================*/

.part_04 {
    margin-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .item {border: black solid 1px;} */

.item h3 {
    display: flex;
    justify-content: center;
    padding: 1vw;
    color: black;
    /* place-items: center; */
}

.item h3 a{
    display: flex;
    justify-content: center;
    color: black;
}

.item .icon i{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.item_img img {
    display: flex;
    justify-content: center;
    /* height: 12vw;
    width: 20vw; */
    height: 150px;
    width: 250px;
    border-radius: 15px;
}

/*=============================================================*/
/*=============================================================*/
/* Diseño de la primera caja */
.container_2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.container_2 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.card .box {
    width: 300px;
    height: 250px;
    transition: .5s;
}

.card .box.box1 {
    position: relative;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.card:hover .box.box1 {
    opacity: .5;
    transform: translateY(0);
}

.content img {
    width: 300px;
    height: 220px;
}

.content h3 {
    position: relative;
    top: 1px;
    padding: 1px;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 1.5em;
}

/* Diseño de la segunda caja */

.card .box.box2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    box-sizing: border-box;
    transform: translateY(-150px);
}

.card:hover .box.box2 {
    transform: translateY(0);
    box-shadow: 0 2px 15px 2px #fff;
}

.content i {
    margin: 10 0 0 0px;
    color: #e7b309;
    font-size: 30px;
}

.content p {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 100px 10px 0 10px;
}

.content a {
    margin: 15px 0 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.content a:hover {
    background: #280568;
    color: #fff;
    text-decoration: underline;
}

/* ----------------- Caja Reseña ---------------*/

.content .info {
    /* edición del renglón*/
    position: relative;
    display: flex;
    justify-content: center;
}


.content .info a {
    margin: 10px 0 0;

    /* Texto en la caja */
    text-decoration: none;
    /* font-weight: 50; */
    color: #333;

    /*  Caja */
    display: inline-block; /* se adapta al largo del texto*/
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px; /*dimensiona L y H de la caja*/

}

.content .info a:hover {
    background: #280568;
    color: #fff;
    text-decoration: none;
}

/*=============================================================*/
/*=============================================================*/
/* Targetas */

.Cards {
    padding-top: 80px;
    margin-left: 25%;
    width: 50%;
    position: relative;
    display: flex;
    /* justify-content: left; */
    flex-direction: column;

}

.Cards .Card{
    margin: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 120px 1fr;
    /* justify-content: left; */
    align-items: center;
    padding: 20px;
    border: white solid 1px;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 2px 15px 2px #fff;
}

.Cards .Card img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    grid-column: 1/2;
    }

.Cards .Card .cont_card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    grid-column: 2/3;
}

/*=============================================================*/
/*=============================================================*/
footer{
    margin-top: 4vw;
}

/*=============================================================*/

@media (max-width: 480px){

    .part_03 .videos {
    margin: 10px;
 padding: 20px;

    width: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
        }

        .part_03 .videos video {
    width: 200px;
}

    }
